<%- include('templates/header') %>
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="logo"><img src="/static/img/logo.svg" alt="Unicoin"></a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">Home</a></li>
                <li><a class="nav-link scrollto " href="/faculty">Faculties</a></li>
                <li><a class="nav-link scrollto " href="/student">Students</a></li>
                <li><a class="nav-link scrollto active" href="/intern">Interns</a></li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<%- include('templates/footerprev') %>
<%- include('templates/footer') %>