<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Registraion</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="/static/img/icon-logo.svg" rel="icon">

    <link rel="stylesheet" href="/static/css/regstyle.css" />
    <script src="/static/js/regscript.js" defer></script>
</head>

<body>
    <form action="/save" class="form" method="POST">
        <h1 class="text-center">Register here!</h1>
        <!-- Progress bar -->
        <div class="progressbar">
            <div class="progress" id="progress"></div>

            <div class="progress-step progress-step-active" data-title="Intro"></div>
            <div class="progress-step" data-title="Contact"></div>
            <div class="progress-step" data-title="ID"></div>
            <div class="progress-step" data-title="Password"></div>
        </div>

        <!-- Steps -->
        <div class="form-step form-step-active">
            <div class="input-group">
                <label for="username">Full Name</label>
                <input type="text" name="username" id="username" />
            </div>
            <div class="input-group">
                <p>You are a:</p>
                <div style="display: flex; flex-direction: row;">
                    <div style="display: flex; flex-direction: row; margin: 10px; align-items: center;">
                        <input type="radio" name="client-type" id="flexRadioDefault1"
                            style="vertical-align: middle; display: inline;" value="Student">
                        <label for="flexRadioDefault1" style="vertical-align: middle;">Student</label>
                    </div>
                    <div style="display: flex; flex-direction: row; margin: 10px;">
                        <input type="radio" name="client-type" id="flexRadioDefault2"
                            style="vertical-align: middle;" value="Vendor">
                        <label for="flexRadioDefault2" style="vertical-align: middle;">Vendor</label>
                    </div>
                </div>
            </div>
            <div class="">
                <button class="btn btn-next width-50 ml-auto">Next</button>
            </div>
        </div>

        <div class="form-step">
            <div class="input-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" />
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" />
            </div>
            <div class="btns-group">
                <button class="btn btn-prev">Previous</button>
                <button class="btn btn-next">Next</button>
            </div>
        </div>

        <div class="form-step">
            <div class="input-group">
                <label for="dob">Date of Birth</label>
                <input type="date" name="dob" id="dob" />
            </div>
            <div class="input-group">
                <label for="ID">National ID</label>
                <input type="number" name="ID" id="ID" />
            </div>
            <div class="btns-group">
                <button class="btn btn-prev">Previous</button>
                <button class="btn btn-next">Next</button>
            </div>
        </div>

        <div class="form-step">
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <div class="input-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" />
            </div>
            <div class="btns-group">
                <button class="btn btn-prev">Previous</button>
                <input type="submit" value="Submit" class="btn" />
            </div>
        </div>

    </form>

</body>

</html>