<footer id="footer">
    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>2022</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Developed by CSE482 Web Team</a>
        </div>
    </div>
</footer><!-- End Footer -->